[submodule "site-specific"]
	path = site-specific
	url = https://github.com/ORINOCO-Lite/con-site-specific
[submodule ".orinoco-lite/dev"]
	path = .orinoco-lite/dev
	url = https://github.com/ORINOCO-Lite/orinoco-lite-dev/
	datalad-url = https://github.com/ORINOCO-Lite/orinoco-lite-dev/
